.header__link {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 8px;
    display: block;
}

.header__link:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 430px) {
    .header__link {
        font-size: 14px;
        line-height: 17px;
    }
}

