.header__menu {
    height: 142px;
    width: 100%;
    margin-top: -142px;
    display: none;
    transition: all .4s ease-in-out;
}

@media screen and (max-width: 520px) {
    .header__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}