.header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 520px) {
    .header {
        /*padding-right: 30px;*/
        flex-direction: column;
    }
}